<app-sidebar></app-sidebar>
<div>
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Relatório de Retirada</h5>
      <label class="text-input-select">Selecione o periodo desejado: <span class="text-input-select2" (click)="filterDate(0)">Todos</span> | <span class="text-input-select2" (click)="filterDate(1)">Hoje</span> | <span class="text-input-select2" (click)="filterDate(7)">7 Dias</span> | <span class="text-input-select2" (click)="filterDate(15)">15 Dias</span> | <span class="text-input-select2" (click)="filterDate(30)">30 Dias</span></label>   
      <br>
      <label class="text-input" style="margin-top: 0">Este são todos os medicamentos retirados, registrados no periodo de:  </label>   
    </div>
  </div>

  <hr style="color: rgb(161, 161, 161);">
  <!-- <div class="d-flex justify-content-center px-5">
    <div class="search"> <input type="text" class="search-input"  placeholder="Procurar..." name="" [(ngModel)]="search"  (keyup)="funcaoCadaTecla(search)" (keyup.enter)="funcaoEnter(search)"> 
      <a class="search-icon" (click)="funcaoEnter(search)"> 
        <i class="fa fa-search"></i> 
      </a> 
    </div>
  </div> -->

  <div class="container scroll">
    <table class="table table-responsive" >
        <thead style="background-color: #70A0FF;">
            <tr>
                <th scope="col" class="title-table">ID_Paciente</th>
                <th scope="col" class="title-table">Paciente</th>
                <th scope="col" class="title-table">ID_Medicamento</th>
                <th scope="col" class="title-table">Medicamento</th>
                <th scope="col" class="title-table">Quantidade</th>
                <th scope="col" class="title-table">Data de Retirada</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let qtd of allRetiradaLst, let i = index">
                <td class="text-table">{{qtd.id_pacient}}</td>
                <td class="text-table">{{qtd.name}}</td>
                <td class="text-table">{{qtd.id_medicine}}</td>
                <td class="text-table">{{qtd.medicines.name}}</td>
                <td class="text-table">{{qtd.qtd_medicine}}</td>
                <td class="text-table">{{qtd.created_at | date:'dd/MM/yyyy - HH:mm'}}</td>
                <!-- <span type="text" class="btn button-delete" style="margin-left: 20px; margin-top: 3px; border: none; background-color:#d9534f; color: white;"
                    (click)="deleteMedicine(allMedicineLst[i])"><i class="uil uil-trash-alt"></i></span>
                    
                <span type="text" class="btn button-update" style="margin-left: 5px; margin-top: 3px; border: none; background-color: #0275d8; color: white;"
                    (click)="setMedicine(allMedicineLst[i])"><i class="uil uil-edit"></i></span> -->
            </tr>
        </tbody>
    </table>
  </div>
  <div class="container" style="text-align: end;">
    <button type="button" class="btn btn-primary" (click)="downloadCsv(allRetiradaLst,'Relatorio de Medicamentos Retirados')">Baixar Relatório</button>   
  </div> 
</div>